<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top" style="margin-bottom: 20px;">
  <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation" (click)="isNavCollapsed = !isNavCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">
    <img src="../../assets/favicons/favicon-32x32.png" class="d-inline-block align-top" width="32" height="32" alt="">
    Studi Portal
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isNavCollapsed">
    <div class="navbar-nav">
      <a [hidden]="!IsLogin()" class="nav-item nav-link" routerLink="/calendar" routerLinkActive="active">Vorlesungsplan</a>
      <a [hidden]="!IsLogin()" class="nav-item nav-link" routerLink="/scripts" routerLinkActive="active">Skripte</a>
      <a [hidden]="!IsLogin()" class="nav-item nav-link" routerLink="/game" routerLinkActive="active">Spiel</a>
      <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">{{!!IsLogin() ? "Logout" : "Login"}}</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div style="height: 40px"></div>
<ng-container *ngIf="IsLogin()">
  <app-chat></app-chat>
</ng-container>
