/* You can add global styles to this file, and also import other style files */

$body-color:black;
$theme-colors: ( "primary":#3fb0ac, );
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/fullcalendar/dist/fullcalendar.min.css";
html,
body {
	overflow-x: hidden;
}

.fc-event .fc-bg {
	opacity: 0 !important;
}

.fc-event {
	/*box-shadow: -6px 0 10px -2px #333 !important;*/
}

.fc-unthemed td.fc-today {
	background: rgba(52, 58, 64, 0.08) !important;
}

::-webkit-scrollbar-thumb {
	border-radius: 1px;
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .3);
	background-color: #343a40;
  border-radius: 1px;
  border-left: 1px solid white !important;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.3);
	border-radius: 1px;
	background-color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}
