<div class="chat-window col-sm-12 col-md-4">
	<button type="button" class="tooglechat btn" (click)="isChatCollapsed = !isChatCollapsed" [attr.aria-expanded]="!isChatCollapsed" aria-controls="collapseExample">{{ !isChatCollapsed === true ? 'Close Chat' : 'Open Chat' }}</button>
	<div class="chat col-xs-12 border" [ngbCollapse]="isChatCollapsed">
		<div class="chat-history col-sm-8 col-md-8" [hidden]="!userHasName" #chatHistory>
			<div class="chat-message clearfix">
				<div class="chat-message-content clearfix" *ngFor="let message of chat"> <span class="chat-time">{{message.time}}</span>
					<h5>{{message.user}}</h5>
					<p>{{message.payload}}</p>
					<hr> </div>
			</div>
		</div>
		<div class="chat-history col-sm-8 col-md-8" [hidden]="userHasName">
			<p>NAME:</p>
			<div> </div>
			<button style="float:right;" class="btn" type="submit" [disabled]="username == '' || !hubConnected" (click)="sendUserName()">OK</button>
			<div style="overflow: hidden;">
				<input style="margin:0;" class="form-control" [(ngModel)]="username" placeholder="Type your name"> </div>
		</div>
		<div class="chat-users d-md-block d-sm-block d-none col-sm-4 col-md-4">
			<h5>Users online:</h5>
			<div class="chat-message clearfix">
				<div class="chat-message-content clearfix " *ngFor="let user of users">
					<div class="online"></div>
					<p>{{user.name}}</p>
					<hr> </div>
			</div>
		</div>
		<input class="form-control" type="text" placeholder="Type your message…" autofocus (keyup.enter)="sendChatMessage($event)" [disabled]="!userHasName"> </div>
</div>
