@charset "utf-8";

/* CSS Document */


/* ---------- LIVE-CHAT ---------- */

.chat {
	height: 40%;
	right: 0;
}
.border{
    border-color: #343a40 !important;
    border-width: 3px !important;
    border-bottom-width: 0px !important;
    border-top-width: 0px !important;
    border-right-color: white !important;
}

.chat-window {
	overflow: hidden;
	height: auto;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 999999999;
	/*box-shadow: -10px 0px 10px 1px #333;*/
	padding: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	color: #000;
	background-color: #fff;
}

.tooglechat {
	width: 100%;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	color: white;
	background-color: #343a40;
}

.chat-history {
	max-height: 280px;
	padding: 8px 24px;
	width: 100%;
	height: 280px;
	overflow-y: scroll;
	padding-right: 17px;
	float: left;
}

.chat-users {
	max-height: 280px;
	padding: 8px 24px;
	width: 100%;
	height: 280px;
	overflow-y: scroll;
	padding-right: 17px;
}

.chat-message {
  margin: 16px 0;
  word-wrap: break-word;
}

.chat-time {
	float: right;
	font-size: 10px;
}

.chat-feedback {
	font-style: italic;
	margin: 0 0 0 80px;
}

.online {
	background: #00FF32;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	float: left;
	margin-top: 8px;
	margin-right: 10px;
}

input {
	width: calc(100% - 40px);
	margin: 20px;
	border-color: black;
}

.btn:focus,
.btn.focus {
	box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 1) !important;
}

@media screen and (max-height: 380px) {
	.chat-users {
		max-height: 65vh;
	}
	.chat-history {
		max-height: 65vh;
	}
}
