<div class="filemanager">
	<ng-template #content let-c="close" let-d="dismiss">
		<div class="modal-header">
			<h4 class="modal-title">Achtung</h4>
			<button type="button" class="close" aria-label="Close" (click)="d('Cross click')"> <span aria-hidden="true">&times;</span> </button>
		</div>
		<div class="modal-body">
			<p>Sicher? Die Datei wird unwiederruflich gelöscht &hellip;</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-success" (click)="d('Cancle')">Abbrechen</button>
			<button type="button" class="btn btn-danger" (click)="c('Delete')">Löschen </button>
		</div>
	</ng-template>
	<div class="breadcrumbs"> <a (click)="goHome()"><span class="folderName">Home</span></a>
		<ng-container *ngFor="let part of path; let i = index"> <span class="arrow">→</span><a (click)="goBack(i+1)" *ngIf="i+1!=path.length"><span class="folderName">{{part}}</span></a> <span class="folderName" *ngIf="i+1==path.length">{{part}}</span> </ng-container>
	</div>
	<br/>
	<div class="fileUpload">
		<div class="input-group">
			<input type="file" #fileInput placeholder="Upload file..." class="form-control" />
			<button class="btn input-group-addon" type="button" (click)="upload()">Upload</button>
		</div>
	</div>
	<br/>
	<div class="addFolder">
		<div class="input-group">
			<input type="text" #folderInput placeholder="New Folder name..." class="form-control" />
			<button class="btn input-group-addon" type="button" (click)="createFolder()">Create Folder</button>
		</div>
	</div>
	<ul class="data" [ngClass]="refresh ? 'animated':''">
		<li class="bg-dark" *ngFor="let item of items" (click)="itemClick(item)" [ngClass]='isFolder(item) ? "folder" : "file"'>
			<button type="button" (click)="open(content,item,$event)" class="btn btn-danger delete"> <img src="../../assets/icons/trash.svg"> </button> <a [attr.title]="getPath(item)" class="folders" *ngIf="isFolder(item)">
        <span class="icon folder" [ngClass]="item.size > 0 ? 'full':''"></span>
        <span class="name">{{item.name}}</span>
        <span class="details">{{getSize(item)}}</span>
      </a>
			<a [attr.title]="getPath(item)" class="files" *ngIf="!isFolder(item)"> <span class="icon file" [ngClass]="'f-'+item.extension">{{item.extension}}</span> <span class="name">{{item.name}}</span> <span class="details">{{getSize(item)}}</span> </a>
		</li>
	</ul>
	<div class="nothingfound bg-dark" [hidden]="items.length != 0">
		<div class="nofiles"></div> <span>Das Verzeichnis ist leer.</span> </div>
</div>