<div class="game">
	<h2>TicTacToe</h2>
	<div class="enterscreen" [hidden]="isEnterScreenHidden">
		<h3>Enter Name:</h3>
		<input [disabled]="!hubConnected" type="text" (keyup.enter)='enterlobby(name.value)' #name> </div>
	<div class="playerselection" [hidden]="isPlayerSelectionHidden">
		<div class="listleft">
			<h4>Send Request:</h4>
			<ul class="playerselectionlist">
				<li *ngFor="let player of playerList"> {{ player.name }}
					<button type="button" class="action-btn btn btn-primary" (click)="sendRequest(player)"> Send </button>
				</li>
			</ul>
		</div>
		<div class="listright">
			<h4>Recieved Requests:</h4>
			<ul class="requestselectionlist">
				<li *ngFor="let request of requestList"> {{ request.from.name }}
					<button type="button" class="action-btn btn btn-danger" (click)="declineRequest(request)"> <img src="../../assets/icons/decline.svg"> </button>
					<button type="button" class="action-btn btn btn-success" (click)="acceptRequest(request)"> <img src="../../assets/icons/accept.svg"> </button>
				</li>
			</ul>
		</div>
	</div>
	<div class="gamescreen" [hidden]="isGameHidden">
		<div class="scoreboard">
			<div class="score score-x">
				<h4>X</h4>
				<h5>{{game.xwin}} wins</h5> </div>
			<div class="score score-d">
				<h4>XO</h4>
				<h5>{{game.draw}} draws</h5> </div>
			<div class="score score-o">
				<h4>O</h4>
				<h5>{{game.owin}} wins</h5> </div>
		</div>
		<div class="board">
			<div id="0" class="square" (click)="sendMove(0)">
				<div class="content">{{game.board[0]}}</div>
			</div>
			<div id="1" class="square" (click)="sendMove(1)">
				<div class="content">{{game.board[1]}}</div>
			</div>
			<div id="2" class="square" (click)="sendMove(2)">
				<div class="content">{{game.board[2]}}</div>
			</div>
			<div id="3" class="square" (click)="sendMove(3)">
				<div class="content">{{game.board[3]}}</div>
			</div>
			<div id="4" class="square" (click)="sendMove(4)">
				<div class="content">{{game.board[4]}}</div>
			</div>
			<div id="5" class="square" (click)="sendMove(5)">
				<div class="content">{{game.board[5]}}</div>
			</div>
			<div id="6" class="square" (click)="sendMove(6)">
				<div class="content">{{game.board[6]}}</div>
			</div>
			<div id="7" class="square" (click)="sendMove(7)">
				<div class="content">{{game.board[7]}}</div>
			</div>
			<div id="8" class="square" (click)="sendMove(8)">
				<div class="content">{{game.board[8]}}</div>
			</div>
			<h3 [hidden]="game.turn">O ist dran</h3>
			<h3 [hidden]="!game.turn">X ist dran</h3>
			<p></p>
		</div>
		<button type="button" class="endbtn btn btn-danger" (click)="endGame()"> End Game <img src="../../assets/icons/trash.svg"> </button>
	</div>
</div>