//Variables
$site-bg: #ffffff;
$highlight-background: #c0c0c0;
$player-one-color: #4A6884;
$player-two-color: #3A98D4;
$accent-color: #2D4155;
$shadow: 0px 0px 25px 0px $accent-color;
//Classes
.game {
	background: $site-bg;
	text-align: center;
	margin: 0 25%;
	padding: 5% 0;
	box-shadow: $shadow;
	color: #2D4155;
	font-family: "Nunito", sans-serif;
}

.enterscreen {}

.playerselection {
	display: grid;
	grid-template-columns: 10% 37.25% 5% 37.25% 10%;
	.listleft {
		display: inline-block;
		padding: 10px 20px;
		border: 0.5px dotted $accent-color;
		min-height: 20em;
		grid-column: 2;
	}
	.listright {
		display: inline-block;
		padding: 10px 20px;
		border: 0.5px dotted $accent-color;
		min-height: 20em;
		grid-column: 4;
		img {
			width: 30px;
			height: 30px;
		}
	}
	.playerselectionlist {
		list-style-type: none;
		padding: 0;
		margin: 0;
		cursor: default;
		min-height: 15em;
		max-height: 15em;
	}
	.requestselectionlist {
		list-style-type: none;
		padding: 0;
		margin: 0;
		cursor: default;
		min-height: 15em;
		max-height: 15em;
	}
	.action-btn {
		display: inline-block;
	}
}

.gamescreen {
	.board {
		margin: 0 auto;
		width: 18em;
		height: 18em;
	}
	.square {
		position: relative;
		float: left;
		width: 6em;
		padding-bottom: 6em;
		border-style: solid;
		border-width: 1px;
		border-color: $accent-color;
		&:hover {
			background-color: #c0c0c0;
		}
		&__x {
			color: $player-one-color;
		}
		&__y {
			color: $player-two-color;
		}
	}
	.content {
		position: absolute;
		height: 100%;
		font-size: 3.5em;
		width: 100%;
		padding: 10% 5%;
	}
	.scoreboard {
		clear: both;
		height: 50px;
		margin: 20px 0;
	}
	.score {
		display: inline-block;
		text-align: center;
		font-weight: 700;
		padding: 0 10px;
		&-x {
			color: $player-one-color;
		}
		&-d {
			color: $accent-color;
		}
		&-o {
			color: $player-two-color;
		}
	}
	.endbtn {
		display: inline-block;
	}
}

@media screen and (max-width: 767px) {
	.game {
		margin: 0;
		padding: 0;
		height: 95vw;
		box-shadow: none;
	}
}